/* center the blockquote in the page */
.blockquote-wrapper {
  padding: 0 2rem;
}

/* Blockquote border style */
.blockquote-wrapper .blockquote {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: red;
  padding: 2rem 0;
  width: 100%;
  z-index: 1;
  font-weight: 800;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h1 {
  position: relative;
  color: blue;
  font-size: 1rem;
  margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
  content: "”";
  color: blue;
  font-size: 5rem;
  line-height: 0;
  /* useful for position of quote*/
  bottom: 0rem;
  right: 2rem;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 2rem;
  }

  .blockquote h4 {
    font-size: 1.5rem;
  }
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #292a2b;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  padding-top: 1rem;
  z-index: 1;
}