.header {
  position: absolute;
  left: var(--sidebar-width);
  width: 100%;
  top: 0;
}

.content {
  position: absolute;
  left: var(--sidebar-width);
  right: 0;
}

.aside {
  width: var(--sidebar-width);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}