.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.github-corner:hover .octo-body {
  animation: octocat-push .56s ease-in-out;
}

@media screen and (max-width: 768px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-push .56s ease-in-out;
  }
}

@keyframes octocat-push {

  0%,
  to {
    transform: rotate(10deg);
  }

  20%,
  60% {
    transform: rotate(10deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner svg {
  color: #fff;
  fill: black;
  height: var(--header-height);
  width: var(--header-height);
}

.marquee {
  width: 60%;
  font-family: "华文彩云";
  font-size: 3rem;
  margin: 0;
  background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(50%, 0);
  }

  50% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(50%, 0);
  }
}