.github-corner svg {
  height: var(--header-height);
  width: var(--header-height);
}

.sponsor {
  margin: 1rem
}

.marquee {
  /* width: 55%; */
  font-family: "华文彩云";
  font-size: 3rem;
  margin: 0;
  background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(33%, 0);
  }

  50% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(33%, 0);
  }
}