.home .wrap {
  margin: 2rem;
  display: flex;
  align-content: flex-end
}

.home .wrap .cards {
  flex: 0 0 50rem;
}

.home .wrap .profile {
  flex: 1;
  background-color: antiquewhite;
  padding: 1rem;
  margin: 0 1rem;
}